<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mentcare - New Patient</title>
  <link rel="icon" href="/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/common.css">
</head>
<body>
<div class="div-main">
<h1 class="h1-main">Create new Patient</h1>
  <div class="div-form">
    <form action="create" method="post">
      <label for="fname">FirstName</label>
      <input type="text" id="fname" name="firstname">

      <label for="lname">LastName</label>
      <input type="text" id="lname" name="lastname">

      <label for="mail">Email</label>
      <input type="text" id="mail" name="email">

      <label for="age">Age</label>
      <input type="text" id="age" name="age">

      <label for="bplace">BirthPlace</label>
      <input type="text" id="bplace" name="birthplace">

      <label for="nat">Nationality</label>
      <input type="text" id="nat" name="nationality">

      <input type="submit" value="Create"/>
    </form>
  </div>
</div>
</body>
</html>