<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mentcare - List Patient</title>
</head>
<body>
<h1>Patient List</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Age</th>
        <th>BirthPlace</th>
        <th>Nationality</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient: ${patient}">
        <td th:text="${patient.firstName}"> Name </td>
        <td th:text="${patient.lastName}"> Surname </td>
        <td th:text="${patient.email}"> Email </td>
        <td th:text="${patient.age}"> Age </td>
        <td th:text="${patient.birthPlace}"> BirthPlace </td>
        <td th:text="${patient.nationality}"> Nationality </td>
        <td> <a href="edit" th:href="@{edit(id=${patient.id})}"> Edit </a></td>
        <td> <a href="delete" th:href="@{delete(id=${patient.id})}"> Delete </a></td>
    </tr>
    </tbody>
</table>
<a href="index">Homepage</a>
</body>
</html>