<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mentcare - Prescription</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/common.css">
</head>
<body>
<div class="div-main">
<h1 class="h1-main">Prescription List</h1>
<table>
    <thead>
    <tr>
        <th>Doctor</th>
        <th>Patient</th>
        <th>Drug</th>
        <th>Dosage</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prescription: ${prescription}">
        <td th:text="${prescription.doctor}">Doctor</td>
        <td th:text="${prescription.patient}">Patient</td>
        <td th:text="${prescription.drug}">Drug</td>
        <td th:text="${prescription.dosage}">Dosage</td>
    </tr>
    </tbody>
</table>
<a href="index" class="btn-home">Homepage</a>
</div>
</body>
</html>